name: CI
on:
  workflow_dispatch:

    inputs:
      Env:
        type: choice
        options:
          - QA
          - Staging
          - Production
jobs:
  build:
    runs-on: macos-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Katalon Studio Github Action
      uses: katalon-studio/katalon-studio-github-action@v2.1
      with:
          version: '10.4.2'
          projectPath: '${{ github.workspace }}'
          args: '-noSplash -retry=0 -browserType=Chrome -statusDelay=15 -testSuitePath="Test Suites/Appointment" -apiKey= "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" --config -webui.autoUpdateDrivers=true'
